body{
     background-image: url('homepage bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed; 
  
  background-position: right top;
}
.smartgpt{
    width: 100px;
    height:100px;
    border-radius: 50%;
    position:absolute;
    left:calc(50% - 50px );
}
#searchForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}
.search-input{
  width: 400px;
  max-width: 80%;
  padding: 10px 14px;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.15);
  font-size: 16px;
  outline: none;
}




  
