 
.smartgpt{
    width: 100px;
    height:100px;
    border-radius: 50%;
    position:absolute;
    top: 40px;
    left:calc(50% - 50px );
}

#searchForm{
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1400px; 
  text-align: center;

}

.searchInput {
  width: 450px;
  max-width: 980px;
  padding: 14px 60px; 
  font-size: 20px;  
  border-radius: 28px;
}


h1{
  font-size: 30px;
  font-family: 'sans-serif';
  font-style:italic;
  position:absolute;
  padding: 115px 810px ;
}
body{
  background-image:url("homebg.jpeg");
  background-size: cover ;
}

.chat-container {
    width: 400px;
    height: 800px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.message {
    max-width: 75%;
    padding: 10px 14px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.4;
}

.bot {
    background: #e9ecef;
    align-self: flex-start;
}

.user {
    background: #4f46e5;
    color: white;
    align-self: flex-end;
}

.input-area {
    display: flex;
    padding: 300px 10px;
    background-color: white;
    border-top: 1px solid #ddd;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.input-area button {
    margin-left: 8px;
    border: none;
    background: #4f46e5;
    color: white;
    padding: 0 16px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    alignment-baseline: right;
}

.input-area button:hover {
    background: #3730a3;
}





  
